<div class="container-fluid">
  <header class="row hidden-xs">
    <div class="jumbotron" id="heroe-home">
      <h1>ASHUVIDZ</h1>
      <h2>Chaine live et vidéo MMO et jeux en ligne</h2>
      <div class="row" id="icon-jumbotron">
        <div class="col-sm-12 col-md-12">
          <ul class="list-inline center-block text-center">
            <li>
              <a href="https://www.twitch.tv/ashuvidz/" target="_blank">
                <img class="img-responsive center-block" src="img/twitch-logo-small.png" alt="Twitch Logo Small">
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/ashuvidz/" target="_blank">
                <img class="img-responsive center-block" src="img/youtube-logo-small.png" alt="Youtube Logo Small">
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/ashuvidz/" target="_blank">
                <img class="img-responsive center-block" src="img/facebook-logo-small.png" alt="Facebook Logo Small">
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com/ashuvidz/" target="_blank">
                <img class="img-responsive center-block" src="img/twitter-logo-small.png" alt="Twitter Logo Small">
              </a>
            </li>
            <li>
              <a href="https://discord.gg/0gQfr9vfLYQRf8HU" target="_blank">
                <img class="img-responsive center-block" src="img/discord-logo-small.png" alt="Discord Logo Small">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <!-- Here component Youtube if no live else component Twitch -->
{{twitch-player}}

</div>

