<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Votre princesse est dans un autre chateau</h1>
    <h2>Erreur 404 DSL mais abonne toi quand même !</h2>
  </div>
</div>